@import "./modal.css";

:root {
	--preview-modal-sm: 400px;
	--preview-modal-default: 600px;
	--preview-modal-large: 900px;
	--preview-modal-fullscreen: calc(100vw - 32px);
	--preview-modal-height-fullscreen: calc(100vh - 32px);
	
	--font-family: "Silka", sans-serif;
}

html {
	font-family: var(--font-family);
}

