.t-heading-1, 
.t-heading-2,
.t-heading-3 {
    font-weight: 500;
    color: var(--color-gray-900);

}

.t-heading-1, 
.t-heading-2 {
    line-height: 1.2;
}

.t-heading-1 {
    font-size: 24px;
}

.t-heading-2 {
    font-size: 22px;
    line-height: 1.45;
}

.t-heading-3 {
    font-size: 18px;
}